body {
  margin: 24px;
  font-family: "Happy Monkey", system-ui;
  text-align: center;
  background: #a2d2ff;
  color: #ffffff;
}

#profile-pic {
  width: 150px;
  /* border-radius: 150px; */
  border: 6px solid #EFB0C9;
  border-radius: 50%;
  margin: 16px 0;
}